/*
  Inspired from Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@import '@primer/css/base/index.scss';
@import '@primer/css/color-modes/index.scss';
@import '@primer/css/markdown/index.scss';
@import '@primer/css/buttons/index.scss';
@import '@primer/css/forms/index.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
  Specifics
*/
@import url('https://rsms.me/inter/inter.css');
